@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
/* svg-inline--fa */
/* GLOBALS */
body {
  font-family: "Trip Sans";
  font-size: 16px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-bottom: 60px;
}
/* TITLES */
h1 {
  font-size: 54px;
  font-family: "Trip Sans Bold";
  font-weight: bold;
  margin: 50px 0 30px 0;
}
h2 {
  font-size: 28px;
  margin: 40px 0 30px 0;
  font-family: "Trip Sans Bold";
  font-weight: bold;
}
h3 {
  font-size: 24px;
  font-family: "Trip Sans Bold";
  margin-bottom: 30px;
}
h4 {
  font-size: 18px;
  font-family: "Trip Sans Bold";
  margin: 5px 0;
}
/* HEADER */
header {
  height: 60px;
}
.logo {
  width: 190px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blueviolet; */
}
header nav {
  display: flex;
  align-items: center;
}
.header-nav nav div {
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.header-nav nav button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  background-color: black;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 20px;
}
.header-nav nav div .svg-inline--fa {
  margin-right: 10px;
  font-size: 20px;
}
/* MAIN */
h1 > span {
  color: #fb5d5d;
}
.preview nav {
  display: flex;
}
.preview nav div {
  font-family: "Trip Sans Bold";
  border: 1px solid black;
  flex: 1;
  display: flex;
  padding: 15px 20px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: flex-start;
}
.preview nav div:not(:last-child) {
  margin-right: 10px;
}
.images {
  display: flex;
  height: 400px;
  margin: 25px 0;
}
.col-left {
  flex: 1;
  margin-right: 2px;
}
.col-left img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.col-right {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.col-right img {
  width: 500px;
  height: calc(50% - 1px);
  object-fit: cover;
  object-position: center;
}
.col-right img:first-child {
  margin-bottom: 2px;
}
/* Baseline */
.baseline {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #333333;
  line-height: 14px;
}
.baseline span {
  margin-right: 5px;
}
.baseline div {
  display: flex;
  align-items: center;
}
.baseline .svg-inline--fa {
  vertical-align: top;
}
.baseline div span:nth-child(odd):hover {
  text-decoration: underline;
  cursor: pointer;
}

/* INTRODUCTION */
.introduction p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: lighter;
}
.introduction {
  width: 50%;
}
/* IMMANQUABLES */
.immanquables .col-1 p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  margin-bottom: 20px;
}
.caroussel-section {
  display: flex;
}
.col-1 {
  flex: 1;
  /* height: 400px; */
  padding-right: 40px;
  /* background-color: darkgoldenrod; */
}
.col-1 a,
.col-1 a:visited {
  color: black;
  font-size: 16px;
}
.col-2 {
  flex: 3;
  /* height: 400px; */
  /* background-color: darkmagenta; */
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.col-2::-webkit-scrollbar {
  display: none;
}
.col-2 div:not(:last-child) {
  margin-right: 12px;
}
.caroussel-element {
  position: relative;
}
.caroussel-element:hover h4 {
  text-decoration: underline;
}
.caroussel-element:hover img {
  opacity: 0.6;
}
.caroussel-element img {
  width: 264px;
  height: 200px;
  object-fit: cover;
}
.caroussel-element p {
  font-size: 14px;
  color: #333333;
}
.rating {
  margin-bottom: 5px;
}
.rating .svg-inline--fa {
  color: #21aa6c;
  font-size: 12px;
}
.rating span {
  font-size: 12px;
  margin-left: 10px;
  color: #333333;
}
.heart {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: -11px;
}
.heart .svg-inline--fa {
  font-size: 18px;
}

.laureat img {
  width: 40px;
  height: 50px;
  left: 10px;
  bottom: 110px;
  justify-content: center;
  align-items: center;
  position: absolute;
}
